body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#board {
    display: block;
    margin: 10px auto 0px auto;
}

#start-button {
    display: block;
    margin: 20px auto 0px auto;
}

button {
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
}

button:focus {
    outline: none;
}


#generations {
    text-align: center;
    margin-top: 15px;
}