body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#board {
    display: block;
    margin: 10px auto 0px auto;
}

#controlButtons {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#reset, #start-button {
    margin: 20px 5px 0px 5px;
}

button {
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
}

button:focus {
    outline: none;
}

#speedControl {
    margin: 10px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 30%;
}

#slow, #medium, #fast {
    margin: 0px 5px;
}

.selected {
    transform: scale(1.1);
    color: white;
    background-color: #9b0000;
    box-shadow: 0px 0px 1px 0px #000000;
}


#generations {
    text-align: center;
    margin-top: 15px;
}

